@use '@/stylesheets/variables' as var;

.container {
  gap: 6rem;
  display: grid;
  align-items: center;
  justify-items: center;
  padding-inline: 10rem;
  padding-block: 6rem 0rem;
  background-color: var.$white;
  grid-template-columns: repeat(2, 1fr);
}

.headingWrapper {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.mainHeading {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;

  &[data-extra-big-heading='true'] {
    gap: 1rem;
  }
}

.heading {
  gap: 0.75rem;
  display: flex;
  white-space: nowrap;
  align-items: center;

  &[data-extra-big-heading='true'] {
    gap: 0.15rem;
    flex-direction: column;
    align-items: flex-start;

    .link {
      margin-top: 0;
    }
  }
}

.summary {
  color: var.$cadet-gray;
  font-weight: var.$bold;
  font-size: var.$font-14;
  text-transform: uppercase;
  font-family: var.$nunito-font;
}

.headingText {
  font-weight: 900;
  line-height: 1.1;
  font-size: var.$font-38;
  text-transform: uppercase;
  color: var.$palatinate-blue;
  font-family: var.$nunito-font;
  filter: var.$subtle-drop-shadow;
}

.link {
  gap: 0.3rem;
  display: flex;
  text-wrap: nowrap;
  margin-top: 0.6rem;
  align-items: center;
  transition: ease 200ms;
  color: var.$cadet-gray;
  font-size: var.$font-14;
  text-transform: uppercase;
  font-weight: var.$semi-bold;

  &:hover {
    color: var.$raisin-black;
  }

  &:hover .logo {
    fill: var.$raisin-black;
  }

  &:hover {
    text-decoration-color: var.$raisin-black;
  }
}

.logo {
  max-width: 1rem;
  min-width: 1rem;
  max-height: 1rem;
  min-height: 1rem;
  fill: var.$cadet-gray;
  transition: ease 200ms;
}

.text {
  text-align: justify;
  text-decoration: none;
  color: var.$cadet-gray;
  font-size: var.$font-20;
  font-family: var.$poppins-font;
}

.careerImage {
  z-index: 5;
  width: 100%;
  max-width: 45rem;
  max-height: 45rem;
  filter: var.$very-subtle-drop-shadow;
}

@media (width <= 1600px) {
  .container {
    padding-inline: 6rem;
  }
}

@media (width <= 1340px) {
  .container {
    padding-inline: 4.5rem;
    padding-block: 8rem 2rem;
  }

  .headingText {
    font-size: var.$font-32;
  }

  .link {
    margin-top: 0.35rem;
  }

  .text {
    font-size: var.$font-18;
  }
}

@media (width <= 1000px) {
  .container {
    gap: 6rem;
    margin-bottom: -8rem;
    padding-block: 8rem 6rem;
    grid-template-columns: 1fr;
  }

  .headingWrapper {
    width: 100%;
  }

  .careerImage {
    max-height: 30rem;
  }
}

@media (width <= 768px) {
  .container {
    gap: 4rem;
    padding-inline: 2rem;
    margin-bottom: -7rem;
    padding-block: 6rem 3rem;
  }

  .headingWrapper {
    gap: 2rem;
    z-index: 5;
  }

  .mainHeading {
    &[data-big-heading='true'] {
      gap: 1rem;
    }
  }

  .heading {
    &[data-big-heading='true'] {
      gap: 0.2rem;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .headingText {
    gap: 0.8rem;
    font-size: var.$font-24;
  }

  .text {
    font-size: var.$font-16;
  }

  .link {
    margin-top: 0rem;
  }

  .careerImage {
    order: -1;

    max-height: 25rem;
  }
}

@media (width <= 550px) {
  .container {
    gap: 1rem;
  }
}

@media (width <= 435px) {
  .headingText {
    font-size: var.$font-20;
  }
}
