@use '@/stylesheets/variables' as var;

.list {
  gap: 1.5rem;
  display: flex;
  list-style: none;
}

.item {
  padding: 0.5rem;
  text-wrap: nowrap;
}

.link {
  text-decoration: none;
  transition: 200ms ease;
  color: var.$cadet-gray;
  font-weight: var.$medium;
  font-family: var.$poppins-font;

  &:hover {
    color: var.$raisin-black;
  }
}
