@use '@/stylesheets/variables' as var;

.container {
  gap: 4rem;
  display: grid;
  align-items: center;
  padding-block: 6rem;
  justify-items: center;
  padding-inline: 10rem;
  background-color: var.$white;
  grid-template-columns: repeat(2, 1fr);
}

.headingWrapper {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.heading {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.headingText {
  font-weight: 900;
  line-height: 1.1;
  font-size: var.$font-48;
  text-transform: uppercase;
  color: var.$palatinate-blue;
  font-family: var.$nunito-font;
  filter: var.$subtle-drop-shadow;
}

.socialButton {
  gap: 0.1rem;
  display: flex;
  cursor: pointer;
  position: relative;
  margin-top: 0.8rem;
  border: transparent;
  align-items: center;
  border-radius: 0.2rem;
  justify-content: center;
  text-decoration: underline;
  background-color: transparent;
  text-decoration-color: var.$cadet-gray;

  &:hover .buttonText {
    color: var.$raisin-black;
  }

  &:hover .logoArrow {
    fill: var.$raisin-black;
  }

  &:hover {
    text-decoration-color: var.$raisin-black;
  }
}

.buttonText {
  pointer-events: none;
  color: var.$cadet-gray;
  transition: ease 200ms;
  font-size: var.$font-16;
  font-weight: var.$medium;
  font-family: var.$poppins-font;
}

.logoArrow {
  opacity: 0.9;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.3rem;
  pointer-events: none;
  fill: var.$cadet-gray;
  transition: all ease 200ms;

  &[data-active='true'] {
    rotate: 180deg;
  }
}

.list {
  left: 0;
  display: flex;
  bottom: -5.8rem;
  overflow: hidden;
  list-style: none;
  position: absolute;
  border-radius: 0.5rem;
  flex-direction: column;
  background-color: var.$white;
  box-shadow: var.$subtle-box-shadow;
  animation: ease forwards fadeIn 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.item {
  width: 100%;
  display: flex;
}

.link {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: ease 200ms;
  font-family: var.$poppins-font;
  padding: 0.6rem 0.6rem 0.6rem 0.5rem;

  &:hover {
    background-color: var.$ghost-white;
  }
}

.logoInstagram {
  min-width: 1.5rem;
  max-width: 1.5rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
  fill: var.$cadet-gray;
}

.linkText {
  text-wrap: nowrap;
  text-decoration: none;
  color: var.$cadet-gray;
  font-size: var.$font-14;
  text-transform: uppercase;
  font-weight: var.$semi-bold;
}

.subHeading {
  max-width: 20rem;
}

.text {
  max-width: 38rem;
  color: var.$cadet-gray;
  font-size: var.$font-20;
  text-decoration: none;
  font-family: var.$poppins-font;
}

.medicineFigure {
  width: 100%;
  max-width: 45rem;
  max-height: 45rem;
  filter: var.$subtle-drop-shadow;
}

@media (width <= 1600px) {
  .container {
    padding-inline: 6rem;
  }
}

@media (width <= 1340px) {
  .container {
    padding-block: 8rem 2rem;
    padding-inline: 4.5rem;
  }

  .headingText {
    font-size: var.$font-32;
  }

  .socialButton {
    margin-top: 0.4rem;
  }

  .text {
    font-size: var.$font-18;
  }
}

@media (width <= 1000px) {
  .container {
    gap: 6rem;
    padding-block: 8rem 6rem;
    grid-template-columns: 1fr;
  }

  .headingWrapper {
    width: 100%;
  }

  .medicineFigure {
    max-height: 30rem;
  }
}

@media (width <= 768px) {
  .container {
    gap: 4rem;
    padding-inline: 2rem;
    scroll-margin-top: 8rem;
    padding-block: 6rem 10rem;
  }

  .headingWrapper {
    gap: 1rem;
  }

  .headingText {
    gap: 0.8rem;
    font-size: var.$font-24;
  }

  .socialButton {
    margin-top: 0.15rem;
  }

  .buttonText {
    font-size: var.$font-14;
  }

  .list {
    left: -6rem;
    bottom: -5.5rem;
  }

  .logoArrow {
    width: 1rem;
    height: 1rem;
  }

  .linkText {
    font-size: var.$font-13;
  }

  .logoInstagram {
    min-width: 1.2rem;
    max-width: 1.2rem;
    min-height: 1.2rem;
    max-height: 1.2rem;
  }

  .text {
    font-size: var.$font-16;
  }

  .medicineFigure {
    order: -1;
    max-height: 25rem;
  }
}

@media (width <= 550px) {
  .container {
    gap: 0rem;
  }
}
