@use '@/stylesheets/variables' as var;

.container {
  gap: 6rem;
  display: flex;
  position: relative;
  align-items: center;
  padding-inline: 10rem;
  flex-direction: column;
  scroll-margin-top: 8rem;
  justify-content: center;
  padding-block: 6rem 16rem;
  background-color: var.$maya-blue;
}

.mainHeading {
  gap: 0.8rem;
  display: flex;
  max-width: 35rem;
  align-items: center;
  justify-content: center;
  filter: var.$subtle-drop-shadow;
}

.headingText {
  font-weight: 900;
  line-height: 1.1;
  color: var.$white;
  font-size: var.$font-38;
  text-transform: uppercase;
  font-family: var.$nunito-font;
}

.logoInfo {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  fill: var.$white;
}

.careerProfilerWrapper {
  gap: 2rem;
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 38rem;
  position: relative;
  align-items: center;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 3rem 2.5rem;
  background-color: var.$white;
  box-shadow: var.$subtle-box-shadow;
}

.loadingContainer {
  inset: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  display: flex;
  padding-top: 2rem;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var.$white;
  animation: fadeIn ease 500ms forwards;
}

.logoVertical {
  max-width: 10rem;
  margin-bottom: 2rem;
  filter: var.$subtle-drop-shadow;
}

.loadingLogo {
  width: 5rem;
  height: 5rem;
  fill: var.$onyx;
}

.loadingHeading {
  font-weight: 900;
  line-height: 1.1;
  color: var.$onyx;
  font-size: var.$font-20;
  text-transform: uppercase;
  font-family: var.$nunito-font;
  filter: var.$subtle-drop-shadow;
}

.careerProfiler {
  gap: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadeIn ease 500ms forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.waves {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5rem;
  fill: var.$white;
  position: absolute;
  transform: rotate(180deg) scaleX(-1);
  filter: var.$very-subtle-drop-shadow;
}

.progressWrapper {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  max-width: 10rem;
  align-items: center;
  flex-direction: column;
}

.currentStatement {
  color: var.$onyx;
  font-size: var.$font-18;
  font-weight: var.$medium;
  font-family: var.$poppins-font;
}

.careerProfilerProgress {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var.$transparent-black-10;
}

.progressBar {
  height: 0.45rem;
  margin-block: 0.2rem;
  border-radius: 0.5rem;
  margin-inline: 0.18rem;
  background-color: var.$coral;
  transition: width 200ms ease;
}

.statementWrapper {
  gap: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.statement {
  color: var.$onyx;
  max-width: 35rem;
  text-align: center;
  min-height: 3.375rem;
  font-weight: var.$bold;
  font-size: var.$font-18;
  font-family: var.$poppins-font;
}

.list {
  width: 100%;
  display: flex;
  list-style: none;
  position: relative;
  align-items: center;
  padding-inline: 1rem;
  flex-flow: row-reverse;
  justify-content: space-between;
}

.list::after {
  content: '';
  z-index: -1;
  height: 0.1rem;
  position: absolute;
  margin-inline: auto;
  width: calc(100% - 2rem);
  background-color: var.$transparent-black-10;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.answer {
  width: 1rem;
  height: 1rem;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  border: transparent;
  justify-content: center;
  transition: all ease 300ms;
  background-color: var.$white;
  border: 2px solid var.$transparent-black-20;

  &:hover::after {
    border-color: var.$white;
    background-color: var.$transparent-black-20;
  }

  &[data-active='true'] {
    scale: 1.2;

    &::after {
      border-color: var.$white;
      background-color: var.$coral;
    }
  }
}

.answer::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  transition: all ease 300ms;
  border: 0.12rem solid transparent;
}

.logoCaption {
  bottom: -3rem;
  width: 2.4rem;
  height: 2.4rem;
  fill: var.$coral;
  position: absolute;
}

.controlButtonsWrapper {
  width: 100%;
  display: flex;
  margin-top: 4.5rem;
}

.previousButton,
.nextButton,
.finishButton {
  width: 6rem;
  cursor: pointer;
  color: var.$white;
  padding: 0.4rem;
  border: transparent;
  border-radius: 0.5rem;
  font-size: var.$font-14;
  font-weight: var.$medium;
  text-transform: uppercase;
  transition: all ease 300ms;
  background-color: var.$coral;
  box-shadow: var.$very-subtle-box-shadow;

  &:hover {
    scale: 1.05;
  }
}

.previousButton {
  margin-right: auto;
}

.finishButton {
  margin-inline: auto;
  font-weight: var.$bold;
  background-color: var.$maya-blue;
}

.finishButton:is(:first-child) {
  margin-right: auto;
  margin-inline: initial;
}

.finishButton:is(:last-child) {
  margin-left: auto;
  margin-inline: initial;
}

.nextButton {
  margin-left: auto;
}

.headingWrapper {
  gap: 1rem;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.logoSymbol {
  max-width: 10rem;
  margin-bottom: 2rem;
  filter: var.$subtle-drop-shadow;
}

.startHeading {
  font-weight: 900;
  line-height: 1.1;
  color: var.$onyx;
  font-size: var.$font-20;
  text-transform: uppercase;
  font-family: var.$nunito-font;
  filter: var.$subtle-drop-shadow;
}

.startText {
  color: var.$onyx;
  font-size: var.$font-18;
  font-family: var.$poppins-font;
}

.startButton {
  cursor: pointer;
  color: var.$white;
  border: transparent;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-size: var.$font-18;
  font-weight: var.$medium;
  transition: all ease 200ms;
  background-color: var.$coral;
  font-family: var.$poppins-font;
  filter: var.$subtle-drop-shadow;

  &:hover {
    scale: 1.05;
  }
}

@media (width <= 1340px) {
  .container {
    padding-inline: 4.5rem;
  }
  .headingText {
    font-size: var.$font-32;
  }
}

@media (width <= 1200px) {
}

@media (width <= 768px) {
  .container {
    padding-inline: 2rem;
    padding-block: 3rem 14rem;
  }

  .headingText {
    white-space: nowrap;
    font-size: var.$font-24;
  }

  .startText {
    margin-top: 1rem;
    font-size: var.$font-16;
  }

  .careerProfiler {
    gap: 2.5rem;
  }

  .controlButtonsWrapper {
    margin-top: 3rem;
  }

  .careerProfilerWrapper {
    padding: 3rem 2rem 2.25rem;
  }

  .loadingContainer {
    gap: 0.5rem;
  }

  .waves {
    height: 2rem;
    bottom: -0.2rem;
  }
}
