@use '@/stylesheets/variables' as var;

.container {
  gap: 4rem;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  text-align: center;
  align-items: center;
  padding-inline: 10rem;
  background-size: 100%;
  flex-direction: column;
  background-position: top;
  padding-block: 64rem 6rem;
  background-repeat: no-repeat;
  background-color: var.$maya-blue;
  background-image: url('@/assets/images/svgs/WavesLightBlue.svg');
}

.floatingBalloon {
  top: 12rem;
  right: 8rem;
  max-width: 45rem;
  position: absolute;
  filter: var.$subtle-drop-shadow;
}

.mainHeading {
  display: flex;
  font-weight: 900;
  max-width: 35rem;
  line-height: 1.1;
  color: var.$white;
  align-items: center;
  font-size: var.$font-38;
  text-transform: uppercase;
  font-family: var.$nunito-font;
  filter: var.$subtle-drop-shadow;
}

.listWrapper {
  gap: 4rem;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list {
  gap: 2.5rem;
  width: 100%;
  display: flex;
  list-style: none;
  overflow-x: scroll;
  position: relative;
  align-items: center;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

.item {
  gap: 2rem;
  height: 100%;
  display: flex;
  min-width: 100%;
  text-align: center;
  align-items: center;
  border-radius: 0.5rem;
  flex-direction: column;
  scroll-snap-stop: always;
  scroll-snap-align: start;
  transition: translate 300ms ease-in-out;
}

.itemHeading {
  gap: 0.8rem;
  display: flex;
  max-width: 35rem;
  line-height: 1.1;
  color: var.$white;
  align-items: center;
  font-weight: var.$bold;
  font-size: var.$font-38;
  text-transform: uppercase;
  font-family: var.$poppins-font;
}

.helpLink {
}

.logoHelp {
  width: 2.5rem;
  height: 2.5rem;
  fill: var.$white;
  transition: ease 200ms;

  &:hover {
    scale: 1.1;
  }
}

.itemText {
  color: var.$white;
  text-align: justify;
  font-size: var.$font-18;
  font-family: var.$poppins-font;
}

.fowardButton,
.backwardButton {
  cursor: pointer;
  position: absolute;
  border: transparent;
  background-color: transparent;
}

.fowardButton {
  left: 1rem;
}

.backwardButton {
  right: 0;
}

.logoArrow {
  width: 4rem;
  height: 4rem;
  fill: var.$white;
  filter: var.$subtle-drop-shadow;
  transition: scale ease-in-out 200ms;

  &:hover {
    scale: 1.2;
  }
}

.guideSelector {
  gap: 1rem;
  display: flex;
  position: relative;
  margin-inline: auto;
  justify-content: center;
}

.selectButton {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease 200ms;
  background-color: var.$white;
  border: 2px solid transparent;
  box-shadow: var.$very-subtle-box-shadow;

  &:hover {
    border-color: var.$white;
    background-color: var.$coral;
  }

  &[data-active='true'] {
    border-color: var.$white;
    background-color: var.$coral;
  }
}

@media (width <= 1600px) {
  .container {
    padding-inline: 6rem;
  }
}

@media (width <= 1340px) {
  .container {
    padding-inline: 4.5rem;
  }

  .mainHeading,
  .itemHeading {
    font-size: var.$font-32;
  }

  .logoHelp {
    width: 2.25rem;
    height: 2.25rem;
  }

  .logoArrow {
    display: none;
  }
}

@media (width <= 1000px) {
  .container {
    gap: 2rem;
  }

  .listWrapper {
    gap: 2rem;
  }

  .floatingBalloon {
    width: 90%;
    right: unset;
    margin-inline: auto;
  }

  .itemText {
    font-size: var.$font-16;
  }
}

@media (width <= 768px) {
  .container {
    padding-inline: 2rem;
    padding-block: 54rem 3rem;
  }

  .item {
    transition:
      translate 300ms ease-in-out,
      margin-top 500ms ease;
  }

  .guideSelector {
    transition: margin-top 500ms ease;
  }

  .selectButton {
    &:hover {
      border-color: var.$white;
      background-color: var.$white;
    }

    &[data-active='true'] {
      border-color: var.$white;
      background-color: var.$coral;
    }
  }

  .mainHeading {
    max-width: 25rem;
    font-size: var.$font-24;
  }

  .itemHeading {
    gap: 0.5rem;
    font-size: var.$font-24;
  }

  .logoHelp {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media (width <= 550px) {
  .container {
    padding-block: 40rem 3rem;
  }

  .floatingBalloon {
    top: -2rem;
    right: -1rem;
  }
}
