@use '@/stylesheets/variables' as var;

.container {
  gap: 6rem;
  display: flex;
  text-align: center;
  align-items: center;
  padding-inline: 10rem;
  flex-direction: column;
  padding-block: 6rem 10rem;
  background-color: var.$white;
}

.heading {
  display: flex;
  font-weight: 900;
  line-height: 1.1;
  max-width: 35rem;
  align-items: center;
  font-size: var.$font-38;
  text-transform: uppercase;
  color: var.$palatinate-blue;
  font-family: var.$nunito-font;
  filter: var.$subtle-drop-shadow;
}

.list {
  gap: 2rem;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  gap: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  flex-direction: column;
  background-color: var.$white;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  fill: var.$burnt-sienna;
}

.itemHeading {
  font-size: var.$font-24;
  color: var.$burnt-sienna;
  text-transform: uppercase;
  font-weight: var.$extra-bold;
  font-family: var.$nunito-font;
}

.text {
  color: var.$onyx;
  color: var.$cadet-gray;
  font-size: var.$font-18;
}

@media (width <= 1340px) {
  .container {
    padding-top: 2rem;
    padding-inline: 4.5rem;
  }

  .heading {
    font-size: var.$font-32;
  }
}

@media (width <= 1000px) {
  .container {
    padding-block: 6rem 6rem;
  }
}

@media (width <= 864px) {
  .list {
    grid-template-columns: 1fr;
  }
}

@media (width <= 768px) {
  .container {
    gap: 6rem;
    padding-inline: 2rem;
    padding-block: 3rem 6rem;
  }

  .heading {
    max-width: 20rem;
    font-size: var.$font-24;
  }

  .list {
    gap: 4rem;
  }

  .logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .itemHeading {
    font-size: var.$font-18;
  }
}
