@use 'variables' as var;
@use 'reset';

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  font-size: var.$font-16;
  color: var.$raisin-black;
  font-weight: var.$regular;
  background-color: var.$magnolia;
  font-family: var.$wix-madefor-text-font;
}

.waves {
  top: 0;
  width: 100%;
  fill: var.$white;
  height: 14.063rem;
  position: absolute;
}
