@use 'variables' as var;
@use 'reset';

html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  font-size: var.$font-16;
  color: var.$raisin-black;
  font-weight: var.$regular;
  background-color: var.$magnolia;
  font-family: var.$wix-madefor-text-font;
}

.waves {
  top: 0;
  width: 100%;
  fill: var.$white;
  height: 14.063rem;
  position: absolute;
}

@media (width <= 1200px) {
  .waves {
    top: 8rem;
    height: 4rem;
  }
}

@media (width <= 768px) {
  .waves {
    top: 7.5rem;
    height: 3rem;
  }
}
