//Orange Tonalities
$burnt-sienna: hsl(14, 83%, 59%);

//Yellow Tonalities
$naples-yellow: hsl(44, 100%, 72%);

//Blue Tonalities
$maya-blue: hsl(206, 91%, 74%);
$palatinate-blue: hsl(231, 74%, 53%);
