@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

//Font Fallback
$font-fallback: 'system-ui', 'sans-serif';

//Font Families
$nunito-font: 'Nunito';
$poppins-font: 'Poppins';
$wix-madefor-text-font: 'Wix Madefor Text';

//Font Weights
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

//Font Sizes
$font-48: 3rem;
$font-44: 2.75rem;
$font-38: 2.375rem;
$font-32: 2rem;
$font-24: 1.5rem;
$font-20: 1.25rem;
$font-18: 1.125rem;
$font-16: 1rem;
$font-15: 0.938rem;
$font-14: 0.875rem;
$font-13: 0.813rem;

//Line Heights
$line-height-35: 2.188rem;
$line-height-29: 1.813rem;
$line-height-26: 1.625rem;
$line-height-23: 1.438rem;
$line-height-22: 1.375rem;
$line-height-20: 1.25rem;

//Letter Spacings
$letter-spacing-minus-0-18: -0.011rem;
$letter-spacing-minus-0-20: -0.013rem;
$letter-spacing-minus-0-22: -0.014rem;
$letter-spacing-minus-0-25: -0.016rem;
$letter-spacing-minus-0-33: -0.021rem;
