@use 'colors' as clr;

//Box Shadows
$subtle-box-shadow: 0rem 0.188rem 0.938rem clr.$transparent-black-20;
$subtle-drop-shadow: drop-shadow(0.188rem 0.188rem 0.5rem clr.$transparent-black-15);
$very-subtle-drop-shadow: drop-shadow(0.188rem 0.188rem 0.5rem clr.$transparent-black-3);
