@use '@/stylesheets/variables' as var;

.navbar {
  top: 0;
  z-index: 100;
  display: flex;
  position: sticky;
  align-items: center;
  padding: 2.5rem 10rem;
  transition: ease 200ms;
  justify-content: space-between;

  &[data-visible='true'] {
    background-color: var.$white;
    box-shadow: var.$extra-subtle-box-shadow;
  }
}

@media (width <= 1700px) {
  .navbar {
    padding: 2.5rem 6rem;
  }
}

@media (width <= 1200px) {
  .navbar {
    padding: 2.5rem 4.5rem;
    background-color: var.$white;
  }
}

@media (width <= 900px) {
  .navbar {
    padding: 1rem 4rem;

    &[data-mobile-active='true'] {
      box-shadow: none;
    }
  }
}

@media (width <= 550px) {
  .navbar {
    gap: 5rem;
    padding: 0rem 2rem;
  }
}
