@use '@/stylesheets/variables' as var;

.footer {
  display: flex;
  margin-top: auto;
  padding-inline: 10rem;
  align-items: flex-start;
  padding-block: 2rem 3rem;
  background-color: var.$white;
  justify-content: space-between;
  filter: var.$very-subtle-drop-shadow;
}

.copyrightWrapper {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoWrapper {
  gap: 1rem;
  display: flex;
  list-style: none;
  align-items: center;
}

.logoItem {
}

.logoLink {
}

.logoUnifoa {
  width: 12rem;
}
.logoHorizontal {
  width: 14rem;
}

.logoUnifoa,
.logoHorizontal {
  filter: var.$subtle-drop-shadow;
}

.copyrightText {
  color: var.$onyx;
  font-weight: var.$medium;
  filter: var.$subtle-drop-shadow;
  letter-spacing: var.$letter-spacing-minus-0-18;
}
