@use '@/stylesheets/variables' as var;

.footer {
  z-index: 5;
  display: flex;
  margin-top: auto;
  padding-inline: 10rem;
  align-items: flex-start;
  background-color: var.$white;
  padding-block: 1.5rem 2.5rem;
  justify-content: space-between;
}

.copyrightWrapper {
  gap: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoLink {
}

.logoUnifoa {
  width: 12rem;
  filter: var.$subtle-drop-shadow;
}

.copyrightText {
  color: var.$onyx;
  text-align: center;
  font-weight: var.$medium;
  filter: var.$subtle-drop-shadow;
  letter-spacing: var.$letter-spacing-minus-0-18;
}

@media (width <= 1340px) {
  .footer {
    padding-inline: 4.5rem;
  }
}

@media (width <= 768px) {
  .footer {
    padding-inline: 2rem;
    padding-block: 1rem 2rem;
  }
}
