@use '@/stylesheets/variables' as var;

.menu {
  padding: 0;
  width: 4rem;
  display: none;
  cursor: pointer;
  border: transparent;
  background-color: transparent;

  &[data-active='true'] {
    .line1 {
      stroke-dashoffset: -134;
      stroke-dasharray: 90 207;
    }

    .line2 {
      stroke-dashoffset: -30;
      stroke-dasharray: 1 60;
    }

    .line3 {
      stroke-dashoffset: -134;
      stroke-dasharray: 90 207;
    }
  }
}

.line {
  fill: none;
  stroke-width: 6;
  stroke: var.$onyx;
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
}

.line2 {
  stroke-dasharray: 60 60;
}

.line3 {
  stroke-dasharray: 60 207;
}

.container {
  width: 100%;
  z-index: 85;
  display: none;
  position: fixed;
  padding: 1rem 2rem;
  margin-top: 6.25rem;
  transform: translateY(-100%);
  background-color: var.$white;
  transition: transform 300ms ease;

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &[data-active='true'] {
    transform: translateY(0%);
  }
}

.overlay {
  inset: 0;
  z-index: 80;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: opacity ease 200ms;
  background-color: var.$transparent-black-50;
}

@media (width > 900px) {
  .overlay {
    display: none !important;
  }
}

@media (width <= 900px) {
  .menu,
  .container {
    display: flex;
  }
}
